.vs/MaplicationAPI/v15/Server/sqlite3/storage.ide-wal
.vs/MaplicationAPI/v15/Server/sqlite3/storage.ide-shm
.vs/MaplicationAPI/v15/Server/sqlite3/storage.ide
.vs/MaplicationAPI/v15/Server/sqlite3/db.lock
MaplicationAPI/bin/Debug/netcoreapp2.0/MaplicationAPI.deps.json
